<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
  <servlet>
    <servlet-name>UTCalendar</servlet-name>
    <servlet-class>utcalendar.UTCalendar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UTCalendar</servlet-name>
    <url-pattern>/utcalendar</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ToDoItem</servlet-name>
    <servlet-class>utcalendar.ToDoItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToDoItem</servlet-name>
    <url-pattern>/todoitem</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>AddSchedule</servlet-name>
    <servlet-class>utcalendar.AddSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSchedule</servlet-name>
    <url-pattern>/addschedule</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>NewSchedule</servlet-name>
    <servlet-class>utcalendar.NewSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSchedule</servlet-name>
    <url-pattern>/newschedule</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>